.tableAvatar,
.tableCategory {
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.deleteButton,
.editButton {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(172, 2, 2);
    background-color: white;
    color: rgb(172, 2, 2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.deleteButton:hover {
    cursor: pointer;
    background-color: rgb(172, 2, 2);
    color: white;
}

.editButton {
    border: 1px solid #615dfa;
    margin-right: 10px;
    color: #615dfa;
}

.editButton:hover {
    cursor: pointer;
    background-color: #615dfa;
    color: white;
}

#tableContainer {
    width: 100%;
    min-width: calc(60vw - (150px + 1.25rem));
}