.profile {
  background-color: #242633;
  display: flex;
  flex: 85;
}
.profile .profileRight {
  color: white;
  flex: 85;
}
.profile .profileRight .profileRightTop .profileCover {
  height: 320px;
  position: relative;
}
.profile .profileRight .profileRightTop .profileCoverImg {
  border-bottom: 1px solid white;
  height: 250px;
  object-fit: cover;
  width: 100%;
}
.avatar {
  position: absolute;
  left: 0;
  margin: auto;
  top: 40%;
  right: 0;
  height: 330px;
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar .frame {
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  pointer-events: none;
  right: 0;
}
.avatar .profileUserImg {
  border-radius: 50%;
  height: 200px;
}
.avatar h1.username {
  transform: translate(0px, -60%);
  font-size: 4em;
  color: #ded0a0;
  filter: drop-shadow(0px 0px 4px black)
}
.avatar_house {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 20%;
  width: 100px;
}
.name_house {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 78%;
  color: white;
  filter: drop-shadow(0px 0px 5px black);
  letter-spacing: 0.5px;
}
.profileInfo .fp-tableCell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.profileInfo .fp-tableCell .profileInfoName {
  font-size: 24px;
}
.profileInfo .fp-tableCell .profileDesc {
  font-weight: 200;
}
.profile .profileRight .profileRightBottom {
  display: flex;
}
.profileRight .cover_bg {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

/* Activity section */
.activity_title {
  font-size: 3em;
  color: white;
  filter: drop-shadow(0px 0px 4px black);
  letter-spacing: 0.5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 7%;
}
.container_activs {
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10%;
}
.activity_faxes, .activity_replies, .activity_faxes_likes, .activity_replies_liked {
  width: calc(100% / 4);
  padding-top: 5%;
}
.activity_faxes .header, .activity_replies .header, .activity_faxes_likes .header, .activity_replies_liked .header {
  display: flex;
  justify-content: center;
}
.activity_faxes .header .title, .activity_replies .header .title, .activity_faxes_likes .header .title, .activity_replies_liked .header .title {
  background: red;
  border-radius: 7px;
  padding: 5px 40px;
  color: white;
  font-size: 0.85em;
  text-transform: uppercase;
}
.activity_faxes .content, .activity_replies .content, .activity_faxes_likes .content, .activity_replies_liked .content {
  display: flex;
  flex-direction: column;
  width: 80%;
  overflow-y: scroll;
  margin-top: 15px;
  max-height: calc(100% - 5% - 35px);
}

.activity_faxes .content .item_content,
.activity_replies .content .item_content,
.activity_faxes_likes .content .item_content,
.activity_replies_liked .content .item_content {
  color: white;
  display: flex;
  padding-left: 20%;
  flex-direction: column;
  margin-bottom: 15px;
}
.activity_faxes .content .item_content .title_item,
.activity_replies .content .item_content .title_item,
.activity_faxes_likes .content .item_content .title_item,
.activity_replies_liked .content .item_content .title_item {
  filter: drop-shadow(0px 0px 1px white);
}
.activity_faxes .content .item_content .date_item,
.activity_replies .content .item_content .date_item,
.activity_faxes_likes .content .item_content .date_item,
.activity_replies_liked .content .item_content .date_item {
  font-size: 10px;
}


/* surcoucje fullpage */

.section.one .fp-tableCell {
  width: auto!important;
}
#fp-nav span {
  background: transparent!important;
  border: 1px solid!important;
  border-color: white!important;
  width: 10px!important;
  height: 10px!important;
  filter: drop-shadow(0px 0px 6px white);
  margin: 0!important;
}
#fp-nav .active span {
  background: pink!important;
  filter: drop-shadow(0px 0px 0px white)!important;
}